body {
    background-color: #e4e3e3
}

h1 {
    color: #204051;
}

h3 {
    color: #3b6978;
    text-align: center;
}

hr {
    
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    height: 0px;
    width: 17%;            
}

.center {
    margin-left: auto;
    margin-right: auto;
}

ul {
    margin-left: 37%;
    margin-right: 37%;
}
